server:
  port: 8080

spring:
  application:
    name: gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: category-service
              uri: lb://CATEGORY-SERVICE
              predicates:
                - Path=/api/category/**

            - id: expense-tracker
              uri: lb://EXPENSE-TRACKER
              predicates:
                - Path=/api/expenses/**


logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.web: DEBUG
