server:
  port: 8085


spring:
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      group-id: expense-service-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
  application:
    name: category-service
  datasource:
    url: jdbc:postgresql://localhost:5432/category
    username: postgres
    password: 5432
    driverClassName: org.postgresql.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update

info:
  app:
    name: category-service
    description: micro service for tracking expenses
    version: 1.0

management:
  endpoints:
    web:
      exposure:
        include: health,info,beans,metrics
  info:
    env:
      enabled: true


