
server:
  port: 8081

profile: local

logging:
  level:
    org:
      springframework:
        cloud:
          loadbalancer: DEBUG
          openfeign: DEBUG
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
  override-with-gateway-url: true

spring:
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: expense-service-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.trusted.packages: "*"
  application:
    name: expense-tracker
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/Expense-Tracker
    username: postgres
    password: 5432
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update

info:
  app:
    name: Expense-tracker
    description: for tracking expenses
    version: 1.0

management:
  health:
    circuitbreakers:
      enabled: true
  endpoints:
    web:
      exposure:
        include:  health,info,metrics,prometheus,threaddump,env
  endpoint:
    health:
      show-details: always
  info:
    env:
      enabled: true

resilience4j:
  circuitbreaker:
    instances:
      category-service: # Specific configuration for an instance
        registerHealthIndicator: true
        slidingWindowSize: 5
        failureRateThreshold: 50
        minimumNumberOfCalls: 6
        waitDurationInOpenState: 3s
        slidingWindowType: COUNT_BASED
        automaticTransitionFromOpenToHalfOpenEnabled: true






